{
  "plugins": ["@babel/plugin-transform-modules-commonjs"],
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "development": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}
