.toggle:checked + .popup {
  display: flex;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2px;
}
@media only screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    grid-gap: 1px;
  }
}
.gallery .thumb source,
.gallery .thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery .thumb source[data-srcset],
.gallery .thumb img[data-src] {
  height: 150px;
}
